

     body{
	margin: 0;
	padding: 0;
	background-color: #19233f;
	font-family: cursive sans-serif;
	background-size: cover;
		 
	min-height: 100%;
	min-width: 100%;
}

.container{
	width: 400px;
	height: auto;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #000;
}




.form-group input[type=email], .form-group input[type=password]{
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	outline: none;
	height: 30px;
	font-size: 16px;
	opacity: 1;
	color: #ccc;
	display: block;
}

.form-control{
	border: none;
	outline: none;
	height: 30px;
	background: #19233f;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	
}


.form-control input[type=submit]:hover{
cursor: pointer;	
}
.button1{
background-color: #D3d3d3;
	margin-bottom: 15px;
    
}



#below{
	text-align: center;
	font-size: 10px;
	font-family: cursive;
	color: pink;
	margin-top: 40px;
}

.fa-envelope, .fa-edit{
color: #d3d3d3;
	width: 24%;
   	height: 24px;
	display: inline-block;
    
}


















@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
	
  top: 90%;
  left: -110%;
	
}
.social-btns .btn .fa {
	
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
	
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 45;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
	
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 18px;
	
  vertical-align: middle;
	
}

















